.d-flex {
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.wrapper {
}

.user-page {
    padding: 24px 20px;
}

.user-header {
    @extend .d-flex;
}

.username {
    font-weight: 600;
    margin-bottom: 20px;
}

.avatar {
    width: 116px;
    height: 116px;
    @extend .mr;
}

.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info {
    @extend .d-flex;
    margin-top: 25px;
}

.mr {
    margin-right: 20px;
    // @extend .d-flex;
}

.des {
    font: {
        size: 16px;
        weight: 500;
    }
    color: rgb(124, 124, 124);
}

.user-layout {
    position: relative;
}

.tag-contain {
    @extend .d-flex;
}

.tag {
    @extend .d-flex;
    justify-content: center;
    width: 230px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.tag2:hover + .w230 {
    transform: translateX(230px);
}

.w230 {
    position: absolute;
    top: 43px;
    height: 2px;
    width: 230px;
    background-color: black;
    // transform: translateX(230px);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

//
.video-contain {
    margin-top: 15px;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
}

// edit profile

.icon {
    margin: 0 20px;
    font-size: 25px;
}

.bd-bottom {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.p-15-0 {
    padding: 15px 0;
}

.profile-head {
    @extend .d-flex, .bd-bottom;
    justify-content: space-between;
}

.title-head {
    font-weight: 600;
}

.profile-container {
    padding: 10px 0;
}

.profile-photo {
    @extend .d-flex, .bd-bottom, .p-15-0;
    align-items: normal;
}

.title {
    width: 285px;
    font-weight: 600;
}

.moe {
    @extend .d-flex;
    justify-content: center;
    position: relative;
}

.profile-img-container {
    width: 96px;
    height: 96px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-edit {
    background-color: rgb(250, 244, 244);
    padding: 6px 10px;
    border-radius: 50%;
    border: 1px solid rgba(219, 219, 219, 0.5);
    position: absolute;
    top: 60px;
    transform: translateX(80%);
    cursor: pointer;
}

.file-input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 4px;
    cursor: pointer;
}

//

.profile-username {
    @extend .d-flex, .p-15-0, .bd-bottom;
    align-items: normal;
}

.title-username {
    width: 150px;
    font-weight: 600;
}

.text-input {
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    border-radius: 4px;
}

//

.profile-nickname {
    @extend .d-flex, .p-15-0, .bd-bottom;
    align-items: normal;
}

.profile-bio {
    @extend .d-flex, .p-15-0, .bd-bottom;
    align-items: normal;
}

textarea {
    resize: none;
}

.profile-btn {
    @extend .d-flex, .p-15-0;
    justify-content: right;
}
