.wrapper {
    height: 100vh;
    width: 336px;
    padding: 20px 16px 26px 8px;
    margin-left: -18px;
    position: fixed;
    overflow-y: auto;
}

.des {
    border-top: 1px solid #e3e3e4;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    font-size: 16px;
    color: rgba(126, 126, 126, 0.5);
}
